@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,700;1,300&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

/* HEADER styling */
#header {
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#header img {
  width: 10rem;
  margin: 1.5rem;
}
#header .nav-icon {
  margin-right: 1.5rem;
}

/* NAVBAR styling */
/* nav {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}
nav .navlinks {
  padding: 0.2rem 1rem;
  border-radius: 5px;
}
nav .navlinks:hover {
  background-color: rgb(215, 229, 224);
} */

/* RESPONSIVE NAVABR */
@media (min-width: 540px) {
  nav {
    display: flex;
    gap: 0.1rem;
    margin-right: 1.5rem;
  }
  nav .navlinks {
    padding: 0.2rem 1rem;
    border-radius: 5px;
  }
  nav .navlinks:hover {
    background-color: rgb(215, 229, 224);
  }
}

/* FILTER styling */
.filter-card {
  margin: 1.5rem;
  padding: 1rem;
  border: 1px solid black;
}
.filter-card > * {
  margin: 0.3rem;
  padding: 0.3rem;
}
