@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,700;1,300&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgb(40, 40, 40);
  border: none;
}

/* GENERAL STYLING CLASSES */
.input {
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}
.text-input {
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 5px;
}

/* HEADER styling */
#header {
  position: relative;
  min-height: 7rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#header img {
  width: 10rem;
  margin: 1.5rem;
}
#header .nav-icon {
  margin-right: 1.5rem;
}

/* NAVBAR styling */

nav {
  display: flex;
  gap: 0.1rem;
  margin-right: 1.5rem;
}
nav .navlinks {
  padding: 0.2rem 1rem;
  border-radius: 5px;
}
nav .navlinks:hover {
  background-color: rgb(215, 229, 224);
}
.nav-icon {
  display: none;
}

/* RESPONSIVE NAVABR */
@media (max-width: 540px) {
  .nav-icon {
    display: block;
    position: absolute;
    top: 3rem;
    right: 0rem;
  }
  #links-container {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: absolute;
    top: 6rem;
    left: 0;
  }
  .navlinks {
    text-align: center;
    display: block;
  }
  .navlinks:last-child {
    margin-bottom: 1rem;
  }
}

/* FILTER styling */
.filter-card {
  display: inline-block;
  margin: 1.5rem;
  padding: 1rem;
  border: 1px solid rgb(180, 180, 180);
}
.filter-card > * {
  margin: 1rem 0.3rem;
  padding: 0.5rem;
}

.search-btn {
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 5px;
  text-align: center;
}

.search-btn > * {
  padding: 0 0.4rem;
  background-color: rgba(0, 0, 0, 0);
}
.search-btn button {
  font-size: 1rem;
}

/* CARS styling */
.car-card {
  margin: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.171);
  border-radius: 5px;
  overflow: hidden;
}

.car-images {
  width: 100%;
  padding: 0;
  margin: 0;
}
.car-card .car-details > * {
  padding: 0.7rem 1rem;
}
.car-details .name-year-container {
  display: flex;
  gap: 2rem;
  margin: 1rem 0 2rem 0;
}
.car-details .name-year-container p {
  background-color: rgb(236, 236, 236);
  padding: 0.2rem 0.5rem;
}

.car-card .car-specs {
  display: flex;
  gap: 1rem;
}
.car-specs > * {
  background-color: rgb(247, 236, 236);
  padding: 0.5rem;
  border-radius: 5px;
}
